.progressBar {
  position: relative;
  width: 100%;
  height: 12px;
  background-color: #e5e7ed;
  border-radius: 400px;
  margin-bottom: 40px;
}

.progressBar > div {
  position: absolute;
  width: 25%;
  height: 12px;
  background-color: #3283ff;
  border-radius: 400px;
  transition: 0.3s;
}

.checkbox-wrap {
  display: flex;
  position: relative;
  width: 100%;
  height: 54px;
  align-items: center;
}

.checkbox-wrap > a {
  font-size: 14px;
  color: #8e8e8e;
  margin-left: 14px;
}

.checkbox-wrap:nth-of-type(1) {
  border-bottom: 1px solid #eee;
}

.checkbox-wrap * {
  color: #212121;
  font-size: 14px;
}

.checkbox-wrap > label {
  display: flex;
  padding-left: 54px;
  align-items: center;
  cursor: pointer;
}

.checkbox-wrap > label::before {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 18px;
  border: 2px solid #808490;
  border-radius: 3px;
  content: '';
}

.checkbox-wrap > label.on::before {
  border: 2px solid #0051ff;
  background: url('../../stories/assets/ic-checked.svg') center center no-repeat;
}

.checkbox-wrap:nth-of-type(1) span {
  font-size: 16px;
  font-weight: 600;
}

/* text-field */
.text-filed-wrap {
  position: relative;
  width: calc(100% - 102px);
  background-color: #ffffff;
  border: 1px solid #6697ff;
  border-radius: 12px;
  padding: 0 20px;
  transition: 0.3s;
}

.text-filed-wrap > img {
  display: block;
  position: absolute;
  top: 30%;
  right: 20px;
  scale: 0;
  transition: 0.3s;
}

.text-filed-wrap.fail {
  border: 1px solid #eb271c;
}

.text-filed-wrap.success {
  border: 1px solid #0051ff;
}

.text-filed-wrap.fail .ic-fail {
  scale: 1;
}
.text-filed-wrap.success .ic-success {
  scale: 1;
}

.text-filed {
  width: 100%;
  height: 100%;
}

.text-filed-txt.fail {
  color: #eb271c;
}

.text-filed-txt.success {
  color: #0051ff;
}

.btn-small[type='button'] {
  display: flex;
  width: 84px;
  height: 46px;
  align-items: center;
  justify-content: center;
  background-color: #0051ff;
  color: #fff;
  border-radius: 12px;
  margin-left: 12px;
}

.btn-small.fail {
  background-color: #a6aab2;
}

.basic-btn[type='button'] {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 400px;
  align-items: center;
  justify-content: center;
  background: #0051ff;
  color: #fff;
  margin-top: 40px;
}
.basic-btn[type='button']:disabled {
  background-color: #a6aab2;
}
